<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> View Notes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <ion-card>

    <ion-card-content>
      <br/>  <br/>  <br/>  <br/>
      View Notes Development InProgress!!!
      <mbsc-datepicker [controls]="['calendar']" display="inline" calendarType="week" [weeks]="1"></mbsc-datepicker>
      <br/>  <br/>  <br/>  <br/>
    </ion-card-content>

  </ion-card>
</ion-content>